<div class="view-container">
    <div class="row">
        <div class="recipe-images">
            <img ng-src="{{img}}" class="recipe"
                 ng-class="{selected: img === $ctrl.mainImageUrl}"
                 ng-repeat="img in $ctrl.product.images"/>
        </div>

        <h1>{{$ctrl.product.name}}</h1>

        <p>{{$ctrl.product.description}}</p>

        <p>Rare level: {{ $ctrl.product.rare }}</p>

        <p>Advice: {{ $ctrl.recipe.advice }}</p>

        <ul class="recipe-thumbs">
            <li ng-repeat="img in $ctrl.product.images">
                <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)"/>
            </li>
        </ul>
    </div>
</div>